# Pipfile

[requires]
python_version = "3.6.4"

[packages]
django = "*"
gunicorn = "*"s
slackclient = "*"
boto = "*"
google-cloud-language ="*"
dj_database_url="*"
django-toolbelt="*"
django-mathfilters="*"
